<!DOCTYPE html>
<html>

<head>
    <title>Webhook Debugger</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/common.css">  
</head>

<body>
     {{>header}}
    <div class="container">
        <h3> POST a request and see what you posted!</h3>
        <span>Try to POST request to http://webhook-debugger.icoding.tech</span>
        <textarea style="width: 100%;height:900000px" id="mess"></textarea>
    </div>

    <script>
        var mess = document.getElementById("mess");
        if(window.WebSocket){
            
            var ws = new WebSocket('ws://'+window.location.host+'/wsapp');
            ws.onopen = function(e){
                mess.append("连接成功")
            }
            ws.onclose = function(e){
                console.log("服务器关闭");
            }
            ws.onerror = function(){
                console.log("连接出错");
            }

            ws.onmessage = function(e){
                mess.append('\n------------new post request----------\n')
                mess.append(e.data)
            }
        }
    </script>
</body>

</html>